.alpha {
	color: #001219;
	text-align: center;
	font-size: large;
}

.beta {
	color: #001219;
	text-align: left;
	font-size: large;
	font-weight: 500;
}

.charlie {
	color: #0a9396;
}

.delta {
	font-style: bold;
}

.echo {
	font-weight: 600;
}